**/Makefile.common
**/autoconf_share
**/lofarconf
**/py-compile
**/build
**/dist
**/nbproject
**/target
LCS/Blob/ylwrap
**/*.classpath
**/*.project
**/*.settings
SAS/OTB/RSP/src/nl/astron/lofar/java/sas/otb/rsp/subbandstats/WaveformSettingsListPanel.form
SAS/OTB/RSP/src/nl/astron/lofar/java/sas/otb/rsp/subbandstats/WaveformSettingsListPanel.java
SAS/OTB/jParmFacade/Makefile.common
SAS/OTB/jParmFacade/autoconf_share
SAS/OTB/jRSP/Makefile.am
SAS/OTB/jRSP/autoconf_share
SAS/OTB/jRSP/bootstrap
SAS/OTB/jRSP/configure.in
