debian/lofar-*-build/
debian/lofar-*.tar.bz2
debian/lofar-*/
build/
debian/debhelper-build-stamp
debian/files
debian/lofar.debhelper.log
debian/lofar.postinst.debhelper
debian/lofar.prerm.debhelper
debian/lofar.substvars
debian/lofar/
