*.substvars
*.log
*.debhelper
tmp/
python-lofar/
casacore-tools/
libapplcommon2/
libawimager2lib2/
libbbscontrol2/
libbbskernel2/
libblob2/
libcommon2/
libdocker2/
libdppp-aoflag2/
libdppp-ddecal2/
libdppp-pythondppp2/
libdppp2/
libelementresponse2/
liblmwcommon2/
liblofar-pyparameterset2/
liblofar-pyparmdb2/
liblofar-pystationresponse2/
liblofar-pytools2/
liblofarft2/
liblofarstman2/
libmessagebus2/
libms2/
libmslofar2/
libparmdb2/
libplc2/
libspwcombine2/
libstationresponse2/
libtransport2/
files
lofar-dev/
lofar-doc/
lofar/

