*.substvars
*.log
*.debhelper
tmp/
python-lofar/
casacore-tools/
libapplcommon0/
libawimager2lib0/
libbbscontrol0/
libbbskernel0/
libblob0/
libcommon0/
libdocker0/
libdppp-aoflag0/
libdppp-ddecal0/
libdppp-pythondppp0/
libdppp0/
libelementresponse0/
liblmwcommon0/
liblofar-pyparameterset0/
liblofar-pyparmdb0/
liblofar-pystationresponse0/
liblofar-pytools0/
liblofarft0/
liblofarstman0/
libmessagebus0/
libms0/
libmslofar0/
libparmdb0/
libplc0/
libspwcombine0/
libstationresponse0/
libtransport0/
