*.substvars
*.log
*.debhelper
casacore-tools/
libapplcommon/
libawimager2lib/
libbbscontrol/
libbbskernel/
libblob/
libcommon/
libdocker/
libdppp-aoflag/
libdppp/
libelementresponse/
liblmwcommon/
liblofar-pyparameterset/
liblofar-pyparmdb/
liblofar-pystationresponse/
liblofar-pytools/
liblofarft/
liblofarstman/
libmessagebus/
libms/
libmslofar/
libparmdb/
libplc/
libpythondppp/
libspwcombine/
libstationresponse/
libtransport/
python-lofar/
tmp/

