Source: lofar
Section: science
Priority: extra
Maintainer: KERN packaging <packaging@kernsuite.info>
Build-Depends: debhelper (>= 9),
 dh-python,
 cmake,
 bison,
 flex,
 gfortran,
 python3-all,
 pps-tools,
 aoflagger-dev,
 wcslib-dev,
 casacore-dev,
 libboost-dev,
 libreadline-dev,
 libcfitsio-dev | libcfitsio3-dev,
 libboost-thread-dev,
 libfftw3-dev,
 libhdf5-dev,
 libboost-python-dev,
 libgsl0-dev,
 libxml2-dev,
 libpng-dev | libpng12-dev,
 libboost-system-dev,
 libboost-filesystem-dev,
 libgtkmm-2.4-dev,
 libboost-regex-dev,
 libboost-program-options-dev,
 libboost-date-time-dev,
 liblog4cplus-dev,
 libblas-dev,
 liblapack-dev,
 libarmadillo-dev,
 python3-casacore,
 python3-numpy,
 python3-astropy, 
 python3-psycopg2,
 python3-xmlrunner,
 libglibmm-2.4-dev,
 libgtkmm-3.0-dev,
 libpython3-dev,
 binutils-dev
Standards-Version: 4.5.0
Homepage: http://www.lofar.org

Package: lofar
Architecture: any
Depends: ${shlibs:Depends},
         ${misc:Depends},
         python3-lofar,
         casacore-data,
         casarest
Conflicts: makems
Description: LOFAR telescope user software

Package: python3-lofar
Architecture: any
Depends: ${shlibs:Depends},
         ${misc:Depends},
         ${python3:Depends},
         ipython3,
         python3-pyfits,
         python3-scipy,
         python3-casacore,
         python3-sip,
         python3-matplotlib
Recommends: python-qt4
Description: LOFAR Python packages
 
Package: lofar-doc
Section: doc
Architecture: all
Multi-Arch: foreign
Depends: ${misc:Depends}
Suggests: lofar-dev
Description: LOFAR telescope user software (documentation)

Package: lofar-dev
Section: libdevel
Architecture: any
Depends: libapplcommon3 (= ${binary:Version}),
         libblob3 (= ${binary:Version}),
         libcommon3 (= ${binary:Version}),
         libdocker3 (= ${binary:Version}),
         liblmwcommon3 (= ${binary:Version}),
         liblofar-pyparameterset3 (= ${binary:Version}),
         liblofar-pyparmdb3 (= ${binary:Version}),
         liblofar-pytools3 (= ${binary:Version}),
         libmessagebus3 (= ${binary:Version}),
         libmslofar3 (= ${binary:Version}),
         libparmdb3 (= ${binary:Version}),
         ${misc:Depends}
Pre-Depends: ${misc:Pre-Depends}
Description: LOFAR telescope development files

Package: libapplcommon3
Section: libs
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Pre-Depends: ${misc:Pre-Depends}
Multi-Arch: same
Replaces: libapplcommon ( << 3.0.3 )
Breaks: libapplcommon ( << 3.0.3 )
Description: a lofar lib

Package: libblob3
Section: libs
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Pre-Depends: ${misc:Pre-Depends}
Multi-Arch: same
Replaces: libblob ( << 3.0.3 )
Breaks: libblob ( << 3.0.3 )
Description: a lofar lib

Package: libcommon3
Section: libs
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Pre-Depends: ${misc:Pre-Depends}
Multi-Arch: same
replaces: libcommon
Description: a lofar lib

Package: libdocker3
Section: libs
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Pre-Depends: ${misc:Pre-Depends}
Multi-Arch: same
Replaces: libdocker ( << 3.0.3 )
Breaks: libdocker ( << 3.0.3 )
Description: a lofar lib

Package: liblmwcommon3
Section: libs
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Pre-Depends: ${misc:Pre-Depends}
Multi-Arch: same
Replaces: liblmwcommon ( << 3.0.3 )
Breaks: liblmwcommon ( << 3.0.3 )
Description: a lofar lib

Package: liblofar-pyparameterset3
Section: libs
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Pre-Depends: ${misc:Pre-Depends}
Multi-Arch: same
Replaces: liblofar-pyparameterset ( << 3.0.3 )
Breaks: liblofar-pyparameterset ( << 3.0.3 )
Description: a lofar lib

Package: liblofar-pyparmdb3
Section: libs
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Pre-Depends: ${misc:Pre-Depends}
Multi-Arch: same
Replaces: liblofar-pyparmdb ( << 3.0.3 )
Breaks: liblofar-pyparmdb ( << 3.0.3 )
Description: a lofar lib

Package: liblofar-pytools3
Section: libs
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Pre-Depends: ${misc:Pre-Depends}
Multi-Arch: same
Replaces: liblofar-pytools ( << 3.0.3 )
Breaks: liblofar-pytools ( << 3.0.3 )
Description: a lofar lib

Package: libmessagebus3
Section: libs
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Pre-Depends: ${misc:Pre-Depends}
Multi-Arch: same
Replaces: libmessagebus ( << 3.0.3 )
Breaks: libmessagebus ( << 3.0.3 )
Description: a lofar lib

Package: libmslofar3
Section: libs
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Pre-Depends: ${misc:Pre-Depends}
Multi-Arch: same
Replaces: libmslofar ( << 3.0.3 )
Breaks: libmslofar ( << 3.0.3 )
Description: a lofar lib

Package: libparmdb3
Section: libs
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Pre-Depends: ${misc:Pre-Depends}
Multi-Arch: same
Replaces: libparmdb ( << 3.0.3 )
Breaks: libparmdb ( << 3.0.3 )
Description: a lofar lib
