Source: lofar
Section: science
Priority: extra
Maintainer: Gijs Molenaar <gijs@pythonic.nl>
Build-Depends: debhelper (>= 8.0.0),
 dh-python,
 cmake,
 casarest,
 bison,
 flex,
 gfortran,
 python-all,
 aoflagger-dev,
 wcslib-dev,
 casacore-dev,
 libboost-dev,
 libreadline-dev,
 libblitz0-dev,
 libcfitsio3-dev,
 libboost-thread-dev,
 libfftw3-dev,
 libhdf5-dev,
 libboost-python-dev,
 libgsl0-dev,
 libxml2-dev,
 libpng12-dev,
 libboost-system-dev,
 libboost-filesystem-dev,
 libgtkmm-2.4-dev,
 libboost-regex-dev,
 libboost-program-options-dev,
 libboost-date-time-dev,
 liblog4cplus-dev,
 libcasasynthesis-dev,
 libblas-dev,
 liblapack-dev,
 libarmadillo-dev,
 python-casacore,
 python-numpy,
 python-pywcs (>= 1.11), 
 python-xmlrunner
Standards-Version: 3.9.7
Homepage: http://www.lofar.org
X-Python-Version: 2.7

Package: lofar
Architecture: any
Depends: ${shlibs:Depends},
         ${misc:Depends},
         python-lofar,
         casacore-data,
         casarest
Conflicts: makems
Description: LOFAR telescope user software

Package: python-lofar
Architecture: any
Depends: ${shlibs:Depends},
         ${misc:Depends},
         ${python:Depends},
         python-pywcs (>= 1.11),
         ipython,
         python-pyfits,
         python-scipy,
         python-casacore,
         python-qt4,
         python-sip,
         python-matplotlib
Description: LOFAR Python packages
 
Package: lofar-doc
Section: doc
Architecture: all
Multi-Arch: foreign
Depends: ${misc:Depends}
Suggests: lofar-dev
Description: LOFAR telescope user software (documentation)

Package: lofar-dev
Section: libdevel
Architecture: any
Depends: libapplcommon0 (= ${binary:Version}),
         libbbscontrol0 (= ${binary:Version}),
         libbbskernel0 (= ${binary:Version}),
         libblob0 (= ${binary:Version}),
         libcommon0 (= ${binary:Version}),
         libdocker0 (= ${binary:Version}),
         libdppp0 (= ${binary:Version}),
         libdppp-aoflag0 (= ${binary:Version}),
         libdppp-ddecal0 (= ${binary:Version}),
         libdppp-pythondppp0 (= ${binary:Version}),
         libelementresponse0 (= ${binary:Version}),
         liblmwcommon0 (= ${binary:Version}),
         liblofar-pyparameterset0 (= ${binary:Version}),
         liblofar-pyparmdb0 (= ${binary:Version}),
         liblofar-pystationresponse0 (= ${binary:Version}),
         liblofar-pytools0 (= ${binary:Version}),
         liblofarstman0 (= ${binary:Version}),
         libmessagebus0 (= ${binary:Version}),
         libms0 (= ${binary:Version}),
         libmslofar0 (= ${binary:Version}),
         libparmdb0 (= ${binary:Version}),
         libplc0 (= ${binary:Version}),
         libspwcombine0 (= ${binary:Version}),
         libstationresponse0 (= ${binary:Version}),
         libtransport0 (= ${binary:Version}),
         ${misc:Depends}
Pre-Depends: ${misc:Pre-Depends}
Description: LOFAR telescope development files

Package: libapplcommon0
Section: libs
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Pre-Depends: ${misc:Pre-Depends}
Multi-Arch: same
Description: a lofar lib

Package: libbbscontrol0
Section: libs
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Pre-Depends: ${misc:Pre-Depends}
Multi-Arch: same
Description: a lofar lib

Package: libbbskernel0
Section: libs
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Pre-Depends: ${misc:Pre-Depends}
Multi-Arch: same
Description: a lofar lib

Package: libblob0
Section: libs
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Pre-Depends: ${misc:Pre-Depends}
Multi-Arch: same
Description: a lofar lib

Package: libcommon0
Section: libs
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Pre-Depends: ${misc:Pre-Depends}
Multi-Arch: same
Description: a lofar lib

Package: libdocker0
Section: libs
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Pre-Depends: ${misc:Pre-Depends}
Multi-Arch: same
Description: a lofar lib

Package: libdppp0
Section: libs
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Pre-Depends: ${misc:Pre-Depends}
Multi-Arch: same
Description: a lofar lib

Package: libdppp-aoflag0
Section: libs
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Pre-Depends: ${misc:Pre-Depends}
Multi-Arch: same
Description: a lofar lib

Package: libdppp-ddecal0
Section: libs
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Pre-Depends: ${misc:Pre-Depends}
Multi-Arch: same
Description: a lofar lib

Package: libdppp-pythondppp0
Section: libs
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Pre-Depends: ${misc:Pre-Depends}
Multi-Arch: same
Description: a lofar lib

Package: libelementresponse0
Section: libs
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Pre-Depends: ${misc:Pre-Depends}
Multi-Arch: same
Description: a lofar lib

Package: liblmwcommon0
Section: libs
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Pre-Depends: ${misc:Pre-Depends}
Multi-Arch: same
Description: a lofar lib

Package: liblofar-pyparameterset0
Section: libs
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Pre-Depends: ${misc:Pre-Depends}
Multi-Arch: same
Description: a lofar lib

Package: liblofar-pyparmdb0
Section: libs
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Pre-Depends: ${misc:Pre-Depends}
Multi-Arch: same
Description: a lofar lib

Package: liblofar-pystationresponse0
Section: libs
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Pre-Depends: ${misc:Pre-Depends}
Multi-Arch: same
Description: a lofar lib

Package: liblofar-pytools0
Section: libs
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Pre-Depends: ${misc:Pre-Depends}
Multi-Arch: same
Description: a lofar lib

Package: liblofarstman0
Section: libs
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Pre-Depends: ${misc:Pre-Depends}
Multi-Arch: same
Description: a lofar lib

Package: libmessagebus0
Section: libs
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Pre-Depends: ${misc:Pre-Depends}
Multi-Arch: same
Description: a lofar lib

Package: libms0
Section: libs
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Pre-Depends: ${misc:Pre-Depends}
Multi-Arch: same
Description: a lofar lib

Package: libmslofar0
Section: libs
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Pre-Depends: ${misc:Pre-Depends}
Multi-Arch: same
Description: a lofar lib

Package: libparmdb0
Section: libs
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Pre-Depends: ${misc:Pre-Depends}
Multi-Arch: same
Description: a lofar lib

Package: libplc0
Section: libs
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Pre-Depends: ${misc:Pre-Depends}
Multi-Arch: same
Description: a lofar lib

Package: libspwcombine0
Section: libs
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Pre-Depends: ${misc:Pre-Depends}
Multi-Arch: same
Description: a lofar lib

Package: libstationresponse0
Section: libs
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Pre-Depends: ${misc:Pre-Depends}
Multi-Arch: same
Description: a lofar lib

Package: libtransport0
Section: libs
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Pre-Depends: ${misc:Pre-Depends}
Multi-Arch: same
Description: a lofar lib

